.forumBody {
  margin-left: 14rem;
}
.main {
  font-size: 6rem;
  background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  width: 85rem;
}

.cont2 {
  width: 90%;
  border: 1px solid black;
  height: 40rem;
  border-radius: 30px;
  margin: 1rem, 3rem, 1rem, 1rem;
}
.list {
  list-style: none;
  border: 1px solid grey;
  margin-top: 0.45rem;
  padding-left: 20px;
}
.title {
  margin: auto;
  text-align: justify;
}
.author {
  margin: auto;
  text-align: end;
}
.pagin {
  display: block;
}
.tabl {
  width: 85rem;
}

.button-65 {
  margin-top: 2.3rem;
  width: 20rem;
  height: 6rem;
  float: right;
  background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
  border-radius: 8px;
  color: #ffffff;
  font-family: Phantomsans, sans-serif;
  font-size: 50px;
}
